
name: EUSPA daily scraper

on:
  schedule:
    - cron: "0 7 * * *"
  workflow_dispatch:

jobs:
  run-scraper:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - run: |
          pip install requests
          python scraper.py
        env:
          EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
